# Sensitive config
backend/chatroom-server/src/main/resources/application.properties
application.properties

# Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled files
*.class
*.jar
frontend/out/

# Frontend libs
frontend/lib/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# OS
.DS_Store
**/.DS_Store
Thumbs.db
EOF